<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Sign in Form with Circular Social Buttons</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/mylogin.css">
</head>

<body>
<div class="signin-form">
    <form action="" th:action="@{/users/login}" method="post">
        <h2 th:text="#{login.tip}">Sign in</h2>
        <p class="hint-text" th:text="#{login.media}">Sign in with your social media account</p>
        <div class="social-btn text-center">
            <a href="#" class="btn btn-primary btn-lg" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn btn-danger btn-lg" title="Google"><i class="fa fa-google"></i></a>
        </div>
        <div class="or-seperator"><b>or</b></div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="username" th:placeholder="#{login.username}"
                   placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-lg" name="password" th:placeholder="#{login.password}"
                   placeholder="Password"
                   required="required">
        </div>
        <div class="text-center checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> [[#{login.remember}]]
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" th:text="#{login.btn}">Sign in
            </button>
        </div>
        <p class="text-center" style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <div class="text-center small"><a href="#" th:text="#{login.forgot}">Forgot Your password?</a></div>
        <div class="text-center small">
            <a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
            <a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
        </div>

    </form>
    <div class="text-center small">
        [[#{login.noAccount}]]
        <a href="#" th:text="#{login.signup}">Sign up</a>
    </div>

</div>
</body>
</html>